
/*primary choosen : # 441f8c 
Secondary : 018c85*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  color:#3d3d3d;
}
#root{
  min-height:100vh;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.lr-shadow{
  box-shadow: 12px 0 15px -4px #f0f0f1cc, -12px 0 8px -4px #f0f0f1cc;
  -moz-box-shadow:12px 0 15px -4px #f0f0f1cc, -12px 0 8px -4px #f0f0f1cc;
    -webkit-box-shadow: 12px 0 15px -4px #f0f0f1cc, -12px 0 8px -4px #f0f0f1cc;

}

.container-height{
  min-height:100vh;
  background-color: white;
}
